{
  "openapi": "3.0.0",
  "info": {
    "title": "Rista POS API",
    "version": "1.0.0",
    "description": "Rista POS API for sales analytics"
  },
  "servers": [
    {
      "url": "https://api.ristaapps.com/v1"
    }
  ],
  "paths": {
    "/branches": {
      "get": {
        "summary": "Get all branches",
        "responses": {
          "200": {
            "description": "List of branches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchList"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/sales/summary": {
      "get": {
        "summary": "Get sales summary",
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesSummary"
                }
              }
            }
          }
        }
      }
    },
    "/sales/page": {
      "get": {
        "summary": "Get paginated sales",
        "parameters": [
          {
            "name": "branch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lastKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated sales",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesPage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BranchList": {
        "type": "object",
        "properties": {
          "branches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "SalesSummary": {
        "type": "object",
        "properties": {
          "totalSales": {
            "type": "number"
          },
          "totalOrders": {
            "type": "number"
          },
          "totalTax": {
            "type": "number"
          },
          "totalDiscount": {
            "type": "number"
          }
        }
      },
      "SalesPage": {
        "type": "object",
        "properties": {
          "sales": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sale"
            }
          },
          "lastKey": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "total": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "paymentMode": {
            "type": "string"
          },
          "subMode": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleItem"
            }
          }
        }
      },
      "SaleItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "price": {
            "type": "number"
          }
        }
      }
    }
  }
}
